<div class="container">
  <div class="text-center">
    <h1>Profilo Utente</h1>
    <h5>Dati Utente</h5>
  </div>
  <div class="bg-violet text-mint p-2">
    <div class="row">
      <div class="col-2">
        <p class="font-weight-bold">Nome:</p>
      </div>
      <div class="col">
        <p>{{utente?.nome}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <p class="font-weight-bold">Cognome:</p>
      </div>
      <div class="col">
        <p>{{utente?.cognome}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <p class="font-weight-bold">Email:</p>
      </div>
      <div class="col">
        <p>{{utente?.email}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <p class="font-weight-bold">Tipo:</p>
      </div>
      <div class="col">
        <p>{{utente?.tipo}}</p>
      </div>
    </div>
  </div>
</div>
