<div class="text-center">
  <h1>Benvenuto in Simple Forum</h1>
  <p>Guarda le diverse categorie e inizia subito a interagire con gli altri utenti.</p>
</div>

<div class="container">
  <div *ngFor="let cat of data">
    <ngb-accordion #acc="ngbAccordion">
      <ngb-panel id="toggle-1" title="{{cat.titolo}}">
        <ng-template ngbPanelContent>
          <div *ngFor="let post of posts">
            <div *ngIf="post.categoria.id == cat.id">
              {{post.titolo}}
            </div>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
